<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
    <a href="/logout">Exit</a>
</div>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>E-mail</th>
            <th>Roles</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="user : ${users}">
            <td><a th:href="@{/user/{id}(id=${user.id})}" th:text="${user.id}"></a></td>
            <td><a th:href="@{/user/{id}(id=${user.id})}" th:text="${user.firstName}"></a></td>
            <td><a th:href="@{/user/{id}(id=${user.id})}" th:text="${user.lastName}"></a></td>
            <td><a th:href="@{/user/{id}(id=${user.id})}" th:text="${user.age}"></a></td>
            <td><a th:href="@{/user/{id}(id=${user.id})}" th:text="${user.username}"></a></td>
            <td>
                <a th:each="r : ${user.roles}" th:text="${r.getRole()} + '; '"></a>
            </td>
            <td>
                <form th:method="GET" th:action="@{/admin/edit{id}(id=${user.id})}" th:object="${user}">
                    <input type="submit" value="Edit">
                </form>
            </td>
            <td>
                <form th:method="POST" th:action="@{/admin/{id}(id=${user.id})}" th:object="${user}">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>