<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
    <a href="/logout">Exit</a>
</div>
<div>
    <form th:method="POST" th:action="@{/edit}" th:object="${user}">
        <a th:if="${message}" STYLE="color: brown" th:text="${message}"></a>
        <table>
            <tr>
                <td><label for="id">ID:</label></td>
                <td> <input type="text" th:field="*{id}"  id="id" readonly></td>
            </tr>
            <tr>
                <td><label for="firstname">First name:</label></td>
                <td> <input type="text" th:field="*{firstName}"  id="firstname"></td>
            </tr>
            <tr>
                <td><label for="lastname">Last name:</label></td>
                <td> <input type="text" th:field="*{lastName}"  id="lastname"></td>
            </tr>
            <tr>
                <td><label for="age">Age:</label></td>
                <td> <input type="text" th:field="*{age}"  id="age"></td>
            </tr>
            <tr>
                <td><label for="username">E-mail:</label></td>
                <td><input type="text" th:field="*{username}" id="username"></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input type="text" th:field="*{password}" id="password"></td>
            </tr>
        </table>
        <div th:if="${adminRole}">
            <input type="checkbox" id="admin" name="adminRole" checked value="1">
            <label for="admin">Administrator</label>
        </div>
        <div th:unless="${adminRole}">
            <input type="checkbox" id="admin1" name="adminRole" value="1">
            <label for="admin1">Administrator</label>
        </div>
        <br/>
        <input type="submit" value="Edit">
    </form>
</div>
</body>
</html>