<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<!--<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">-->
<!--    <a href="/">Home</a>-->
<!--</div>-->
<!--<div>-->
<!--    <h1>Authorization</h1>-->
<!--    <form method="post" action="/login">-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td><label for="username">Username</label></td>-->
<!--                <td><input id="username" name="j_username"/></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td><label for="password">Password:</label></td>-->
<!--                <td><input id="password" name="j_password"/></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--        <br/>-->
<!--        <input type="submit" value="Join"/>-->
<!--    </form>-->
<!--</div>-->
</body>
</html>