<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
    <a href="/logout">Exit</a>
</div>
<div>
    <table>
        <tr>
            <td>Username:</td>
            <td th:text="${user.username}"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td th:text="${user.password}"></td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td th:text="${user.email}"></td>
        </tr>
    </table>
</div>
</body>
</html>